<%= simple_form_for(@coordinator) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.association :registries, :collection => @registries.collect{|r| ["#{r.name} <#{r.location}>",r.id]}, :label => "Registries (name <location>)"%>
  </div>

  <div class="form-actions">
    <%= link_to "Back", "javascript:history.back()", :class => 'btn btn-default' %>
    <%= f.button :submit %>
  </div>
<% end %>
