<%- model_class = Coordinator -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @coordinator.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @coordinator.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @coordinator.phone %></dd>
</dl>

<div class="show_page_buttons">
    <%= link_to "Back", "javascript:history.back()", :class => 'btn btn-default' %>
    <%= link_to "All", coordinators_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_coordinator_path(@coordinator), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                coordinator_path(@coordinator),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
</div>





<h2> Associated Registries: </h2>
<% if @registries.blank? %>
    <div> The registry has no coordinators </div>
<% else %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Registry Open</th>
        <th>Created At</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @registries.each do |registry| %>
          <tr>
            <td><%= link_to registry.name, registry_path(registry) %></td>
            <td><%= registry.location %></td>
            <td><%= registry.state %></td>
            <td><%= registry.created_at.strftime("%B %m, %Y") %></td>
            <td><%= link_to "Remove Association", coordinator_remove_registry_path(@coordinator, registry), remote: true, method: :post, class: "remove_associations" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>