<%- model_class = Participant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:gender) %></th>
    <th><%= model_class.human_attribute_name(:dob) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @participants.each do |participant| %>
      <tr>
        <td><%= link_to participant.name, participant_path(participant) %></td>
        <td><%= participant.gender %></td>
        <td><%= participant.dob %></td>
        <td><%= participant.created_at.strftime("%B %m, %Y") %></td>
        <td>
          <%= link_to "Show", participant_path(participant), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_participant_path(participant), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      participant_path(participant),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_participant_path,
            :class => 'btn btn-primary' %>
