<%- model_class = Participant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @participant.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @participant.gender %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dob) %>:</strong></dt>
  <dd><%= @participant.dob %></dd>
</dl>

<div class="show_page_buttons">
    <%= link_to "Back", "javascript:history.back()", :class => 'btn btn-default' %>
    <%= link_to "All", participants_path, :class => 'btn btn-default' %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_participant_path(@participant), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                participant_path(@participant),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
</div>