<h2 class="center"> Welcome to the Participant Tracker app.</h2>
<pre>
1) Provide SQL for aggregate count of participants by year of birth.
AR:  Participant.group("YEAR(dob)").count
SQL: SELECT COUNT(*) AS count_all, YEAR(dob) AS year_dob FROM `participants` GROUP BY YEAR(dob)

2) Provide SQL for aggregate count of participants by coordinator and gender.
SELECT count(*), coordinator_id, gender FROM participants
INNER JOIN enrollments on `enrollments`.`participant_id`=`participants`.`id`
GROUP BY coordinator_id, gender;

3) Export participants for each coordinator in a CSV format
<%= link_to  "view", export_participants_coordinators_path, :target => "_blank" %> or <%= link_to  "download", export_participants_coordinators_path(:csv) %> the CSV data of all participants for each coordinator
</pre>


<pre>
Assignment:

Create a Ruby on Rails application that would allow a coordinator to track participants across multiple registries.


A registry is uniquely identified by:
•	Name
•	Location
Registry can be in an open or a closed state.

Each registry can have multiple coordinators; each coordinator is uniquely identified by their email address. Coordinators also have:
•	Name
•	Phone number
Same coordinator can be assigned to multiple registries.

Participant is identified by:
•	Name
•	Gender
•	Date of birth

A participant can be enrolled in multiple open registries. However, they can't be enrolled in the same registry more than once.

For contacting a participant later, during enrollment following information is needed:
•	Date of enrollment
•	Method of contact (phone or email)
•	Remarks
•	Coordinator that performed the enrollment.


As a user, coordinator should be able to:
•	Setup registries and manage associated coordinators.
•	Manage all coordinators and participants.
•	Enroll participants into a registry.
•	See the list of participants for a given registry, grouped by the coordinator that enrolled them.

Authentication/Authorization is not required.


Bonus:
•	Provide SQL for aggregate count of participants by year of birth.
•	Provide SQL for aggregate count of participants by coordinator and gender.
•	Export participants for each coordinator in a CSV format.
</pre>
<br/>
<br/>
