<%= simple_form_for(@registry) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :state, :label => "Registry Open" %>
    <%= f.association :coordinators, :collection => @coordinators.collect{|c| ["#{c.name} <#{c.email}>",c.id]}, :label => "Coordinators (name <email>)"%>
  </div>

  <div class="form-actions">
    <%= link_to "Back", "javascript:history.back()", :class => 'btn btn-default' %>
    <%= f.button :submit %>
  </div>
<% end %>
