<%- model_class = Registry -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @registry.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
  <dd><%= @registry.location %></dd>
  <dt><strong>Registry Open:</strong></dt>
  <dd><%= @registry.state %></dd>
</dl>

<div class="show_page_buttons">
  <%= link_to "Back", "javascript:history.back()", :class => 'btn btn-default' %>
  <%= link_to "All", registries_path, :class => 'btn btn-default' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_registry_path(@registry), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              registry_path(@registry),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>


<h2> Associated Participants grouped by Coordinators : </h2>
<% if @coordinators.blank? %>
    <div> No coordinators are associated with this registry </div>
<% else %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Created At</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @coordinators.each do |coordinator| %>
          <tr>
            <td><%= link_to coordinator.email, coordinator_path(coordinator) %></td>
            <td><%= coordinator.name %></td>
            <td><%= coordinator.phone %></td>
            <td><%= coordinator.created_at.strftime("%B %m, %Y") %></td>
            <td><%= link_to "Remove Association", registry_remove_coordinator_path(@registry, coordinator), method: :post, class: "remove_associations12" %></td>
          </tr>

          <tr class="associated_tr">
            <td style="padding-left: 50px">Participants:</td>
            <td colspan="4">
              <% coordinator.participants.uniq.each do |participant| %>
                <%= link_to participant.name, participant_path(participant.id) %> <br/>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>