<%= simple_form_for(@enrollment) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.association :registry, collection: @registries.collect{|r| ["#{r.name} <#{r.location}>",r.id]},
                      label: "Registry (name <location>)",
                      include_blank: false
    %>
    <%= f.association :participant, include_blank: false %>
    <%= f.association :coordinator, collection: @coordinators.collect{|c| ["#{c.name} <#{c.email}>",c.id]},
                      label: "Coordinator performing enrollment (name <email>)",
                      include_blank: false
    %>
    <%= f.input :method_of_contact, collection: Enrollment::METHOD_OF_CONTACT, include_blank: false %>
    <%= f.input :date_of_enrollment %>
    <%= f.input :remarks %>
  </div>

  <div class="form-actions">
    <%= link_to "Back", "javascript:history.back()", :class => 'btn btn-default' %>
    <%= f.button :submit %>
  </div>
<% end %>
