<%- model_class = Enrollment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Participant</th>
    <th>Registry</th>
    <th>Coordinator</th>
    <th>Method Of Contact</th>
    <th>Date Of Enrollment</th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= link_to enrollment.id, enrollment_path(enrollment) %></td>
        <td><%= enrollment.participant.try(:name) %></td>
        <td><%= enrollment.registry.try(:name) %><<%= enrollment.registry.try(:location) %>></td>
        <td><%= enrollment.coordinator.try(:name) %><<%= enrollment.coordinator.try(:email) %>></td>
        <td><%= enrollment.method_of_contact %></td>
        <td><%= enrollment.date_of_enrollment %></td>
        <td><%= enrollment.created_at.strftime("%B %m, %Y") %></td>
        <td>
          <%= link_to "Show", enrollment_path(enrollment), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_enrollment_path(enrollment), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      enrollment_path(enrollment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_enrollment_path,
            :class => 'btn btn-primary' %>
