<%- model_class = Enrollment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Registry:</dt>
  <dd><%= @enrollment.registry.try(:name) %> < <%= @enrollment.registry.try(:location) %> ></dd>
  <dt>Participant:</dt>
  <dd><%= @enrollment.participant.try(:name) %></dd>
  <dt>Coordinator:</dt>
  <dd><%= @enrollment.coordinator.try(:name) %> < <%= @enrollment.coordinator.try(:email) %> ></dd>
  <dt>Method of contact:</dt>
  <dd><%= @enrollment.method_of_contact %></dd>
  <dt>Date Of Enrollment:</dt>
  <dd><%= @enrollment.date_of_enrollment %></dd>
  <dt>Remarks:</dt>
  <dd><%= @enrollment.remarks %></dd>
</dl>

<div class="show_page_buttons">
    <%= link_to "Back", "javascript:history.back()", :class => 'btn btn-default' %>
    <%= link_to "All", enrollments_path, :class => 'btn btn-default' %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_enrollment_path(@enrollment), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                enrollment_path(@enrollment),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
</div>